* {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: brown;
}

table {
  text-align: center;
  border: 1px solid silver;
  width: 100%;
  margin-top: 1rem;
}

tr > th {
  background-color: rgba(225, 161, 143, 0.985);
  color: rgb(100, 29, 29);
  font-size: 1.2rem;
}

tr > th:hover {
  background-color: rgb(100, 29, 29);
  color: antiquewhite;
}

tr > td {
  background-color: antiquewhite;
}

tr > td:hover {
  background-color: rgb(100, 29, 29);
  color: antiquewhite;
}
